Body {
    font-family: Courier, sans-serif;
}
.header {
    background-color: #f26363;
    width: 235px;
}
button {
    background-color: #f26363;
    font-size: 18px;
}
img {
    height: auto;
    width:200px
}
