
Body {
    font-family: Courier, sans-serif;
}
.header {
    background-color: #f26363;
    width: 235px;
    border-style: solid;
    border-color: #3b3a3a;
    border-width: 2px;
    text-align: center;
    margin: 0 auto;
    width: 300px;
    box-sizing: border-box;
}
button {
    background-color: #f26363;
    font-size: 18px;
    margin-bottom: 0px;
    margin-top: 0px;
}
button:hover {
    background-color: #b94d4d;
}
img {
    height: auto;
    width:200px;
    border-style: solid;
    border-color: rgb(73, 71, 71);
    border-width: 1px;

}
